{% extends 'base.html' %}

{% block title %}Edit page{% endblock title %}

{% block extra_head %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock extra_head %}

{% block content %}

    <div class="container">
        <form id="edit_form" action="{% url 'personal_data' %}" enctype="multipart/form-data">
            {{ form.as_p }}
            <button type="submit">Save</button>
            {% if form.errors %}
                <div class="form-group has-error">
                    <div class="help-block">{{ form.text.errors }}</div>
                </div>
            {% endif %}
        </form>
    </div>

    <script>
        $(document).ready(function() {
            function block_form() {

            }

            function unblock_form() {

            }

            var options = {
                url: "{% url 'personal_data' %}",
                type: 'post',
                beforeSubmit: function(form, options){

                    //loading..
                    block_form();
                },
                success: function() {
                    unblock_form();
                },
                error: function(response) {
                    unblock_form();
                    var errors = JSON.parse(response.responseText);
                    for (var error in errors) {
                        var id = '#id_' + error;
                        $(id).parent('p').prepend(errors[error]);
                    }
                }
            };

            $('#edit_form').ajaxForm(options);
        });


    </script>

{% endblock content %}